<ul class="list">
    <li><a href="">
            <img src="/assets/images/portfolio.png" width="256px" height="256px">
            <div class="box">
                <p>ポートフォリオサイト、AngularJSで作成</p>
            </div>
        </a>
    </li>
    <li>
        <a href="https://deployshooting.netlify.app/app/">
            <img src="/assets/images/shooting.png" width="256px" height="256px">
            <div class="box">
                <p>シューティングゲーム、TyepScript、CreateJSで作成</p>
            </div>
        </a>
    </li>
    <!-- <li>
        <a href="">
            <img src="/assets/images/portfolio.png" width="256px" height="256px">
            <div class="box">
                <p>ここに文章</p>
            </div>
        </a>
    </li> -->
</ul>